html, body {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Dumbledor 1';
}

.background-image{
    background-image: url(images/HP_bg.webp);
    background-size: cover;
    filter: blur(4px);
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    background-attachment: fixed;
    
}

h1{
    font-size: 35pt;
    font-weight:1000;

}

h2{
    font-size: 30pt;
    padding-top: 30px;
}

.navbar{
    background-color: rgb(244, 244, 244);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: none;
    padding-bottom: none;
    margin: auto;
    border-radius: 20px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.678);
    width: 50%;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content:space-between ;

}

.navbar button {
    font-family:'Dumbledor 1';
    background: none;
    border: none;
    font-size: 28px;
    font-weight: bold;
    color: rgb(170, 170, 170);
    cursor: pointer;
}

.navbar button:hover,
.navbar button.active {
  color: #000000;
}


li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin: 0px;
}

.carousel-container {
  position: relative;
  max-width: 50%;
  height: 300px;
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 20px;
}

.carousel-slide {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}



.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.8);
}


.item_grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 300px 300px;
    padding-left: 200px;
    padding-right: 50px;
    padding-top: 30px; 
    justify-content: center;
}

.card img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.card img:hover{
    transform: scale(1.2);
    z-index: 2;
}

.img_button {
    background: none;
    border: none;
    cursor: pointer;
}

.modal{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 1px 4px black;
    padding: 15px 25px;
    text-align: center;
    width: 640px;
    font-size: 16pt;
}

.modal-inner h2{
    margin: 0;
}

.modal-inner p{
    line-height: 24px;
    margin: 10px 0;
    padding: 20px;
}

.btn {
    font-family: 'Dumbledor 1';
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 16pt;
    background-color: #0805675e;
;
}

.btn:hover {
    background-color: #fff;
}

.page {
      display: none;
    }

.page.active {
      display: block;
    }